@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,700&display=swap');


body{
    background-color: blanchedalmond;
    font-family: 'EB Garamond', serif;
}

nav{
position:fixed;
top: 0px;
left: 0px;
width: 100%;
background-color: rgb(66, 66, 66);
}

nav li{
    font-size: 26px;
    font:  'EB Garamond', serif;
    display: inline;
    text-align: center;
}

a:link, a:visited {
    background-color: rgb(66, 66, 66);
    color: blanchedalmond;
    padding: 5px 112px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: rgb(241, 64, 64);
    border-radius: 5px;
  }

  h1{
    text-shadow: 2px 2px rgb(241, 64, 64);
    margin-top: 180px;
    color:rgb(66, 66, 66);
    font-size: 100px;
    text-align: center;
  }

  p{
      text-align: center;
      font-size: 30px;
      margin-top: 100px;
  }
