@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,700&display=swap');


body{
    background-color: blanchedalmond;
    font-family: 'EB Garamond', serif;
}

nav{
position:fixed;
top: 0px;
left: 0px;
width: 100%;
background-color:black;
}

nav li{
    font-size: x-large;
    font:  'EB Garamond', serif;
    display: inline;
    text-align: center;
}

a:link, a:visited {
    background-color: black;
    color: blanchedalmond;
    padding: 5px 112px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: rgb(110, 3, 3);
    border-radius: 5px;
  }

  h1{
    text-shadow: 2px 2px black;
    margin-top: 150px;
    color:rgb(143, 1, 1);
    font-size: 100px;
    text-align: center;
  }

  p{
      text-align: center;
      font-size: 30px;
  }
